In [1]:
2+2

4

In [2]:
print("Hello World")

Hello World

# 1. DYNAMIC TYPE

In [3]:
#doesnt need to declare the type of variable

x = 7 #x is variable that store an integer value
x = "Hello" #x is variable that stores the string value
x = 9.08 #x is a variable that stores the float value

# 2. BASIC SYNTAX

In [5]:
if 10>8:
    print("10 is greater than 8")

10 is greater than 8

# 3. COMMENTS

In [6]:
#this is a single line comment

# 4. STRING

In [13]:
name = "Kumkum Malhotra" #created a variable, name
print(name) #printing the variable
print(type(name)) #printing the type of variable

Kumkum Malhotra
<class 'str'>

# 5. STRING METHOD

In [18]:
#Lowercase function
print(name.lower())

#Uppercase function
print(name.upper())

#replace function
print(name.replace("Kumkum", "Kumm"))

kumkum malhotra
KUMKUM MALHOTRA
Kumm Malhotra

# 6. STRING OPERATOR

In [19]:
print("1. COCATENATION OPERATOR")

str1 = "Hello"
str2 = "Kumkum"

print(str1 + " " +str2)#use to join the two string together

1. COCATENATION OPERATOR
Hello Kumkum

In [21]:
print("2. REPITION OPERATOR")

str1 *3#repeat the string specified number of times

2. REPITION OPERATOR

'HelloHelloHello'

In [22]:
print("3. MEMBERSHIP OPERATOR")
#check whether the substring is present or not in the string

string = "Hello, World!!!!"

print("world" in string)#case sensitive
print("World" in string)
print("world" not in string)
print("World" not in string)

3. MEMBERSHIP OPERATOR
False
True
True
False

In [28]:
print("4. SLICE OPERATOR")

string = "Kumkum Malhotra"
print(string[:]) #print the entire string
print(string[0:]) #print the string from the index mention till end 
print(string[0:6]) #6 is excluded
print(string[:9])#print string from the starting till one less than mentioned index
print(string[-9:-5])

4. SLICE OPERATOR
Kumkum Malhotra
Kumkum Malhotra
Kumkum
Kumkum Ma
 Mal

In [29]:
print("5. COMPARISON OPERATOR")

fruit1 = "Apple"
fruit2 = "Orange"

print(fruit1 == fruit2) #check whether the two variables are same 
print(fruit2>fruit1)#print true if o>a

5. COMPARISON OPERATOR
False
True

In [38]:
print("6.ESCAPE CHARACTERS")

print("Hi \nWhat's your name?? \nMy name is kumkum")
print("hi!! \"SALUT\"")

6.ESCAPE CHARACTERS
Hi
What's your name??
My name is kumkum
hi!! "SALUT"

In [34]:
print("7. RAW STRING ")

url = "C ChapterWise Notes/Chapter 2/"
print(url)

7. RAW STRING
C ChapterWise Notes/Chapter 2/

In [36]:
print("8. STRING FORMATTING")
name = "Kumkum"
print(f"My name is {name}")

8. STRING FORMATTING
My name is Kumkum

In [37]:
print("9. LENGTH OPERATOR")

fruit = "APPLE"
print(len(fruit))

9. LENGTH OPERATOR
5

# NUMERIC OPERATION

In [39]:
print("Operations")
a = 15
b = 4
print("Addition ",a+b )
print("Subtraction ",a-b )
print("Multiplication ",a*b )
print("Divison ",a/b )
print("Modulus ",a%b )
print("Floor division: ",a//b )
print("Exponentiation : ", 2**3)

Operations
Addition  19
Subtraction  11
Multiplication  60
Divison  3.75
Modulus  3
Floor division:  3
Exponentiation :  8